<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>选择</title>
    <script>
        function login(){
            location.href = 'http://127.0.0.1:8000/page/login/'
        }
        function register(){
            location.href = 'http://127.0.0.1:8000/page/register/'
        }
    </script>
</head>
<body>
<h1>请选择登录或者注册</h1>
<button onclick="login()" style="width: 100px;height: 50px;background-color: antiquewhite">登录</button>
<button onclick="register()" style="width: 100px;height: 50px;background-color: antiquewhite">注册</button>

</body>
</html>